header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo a {
  color: MediumAquamarine;
  text-align: center;


}

nav {

}

nav li {
  display: inline-block;
}
