header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo a {
  color: Aquamarine;
  text-align: center;
  display: flex-start;

}

nav {

}

nav li {
  display: inline-block;
}
